@import './fonts';
@import './variables';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;  
}

h1, p {
  margin: 0;
}

a {
  color: inherit;
  transition: color 0.3s;

  &:hover {
    color: $--primary;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: $--font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background: $--gray;
}